body {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #fbc547;
  color: #333;
  font-size: 15px;
  line-height: 1.3; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

hr {
  width: 100%;
  color: blue;
  height: 0.001px;
  background-color: gray; }

@media (min-width: 992px) {
  .between {
    width: 100%;
    color: blue;
    height: 0.001px;
    background-color: gray; } }

p {
  color: #484848; }
